$main-font: "Grtsk Tera Regular";
$text-color: #373737;
$light-color: #ffffff;
$bg-main-color: #bebebe;
$bg-circle-color: #ffcb46;

/* FONTS */
@font-face {
    font-family: "Grtsk Tera Regular";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/Grtsk-Tera-Regular.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-Regular.woff") format("woff"), url("../fonts/Grtsk-Tera-Regular.otf") format("otf");
}
@font-face {
    font-family: "Grtsk Tera Italic";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/Grtsk-Tera-Italic.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-Italic.woff") format("woff"), url("../fonts/Grtsk-Tera-Italic.otf") format("otf");
}
@font-face {
    font-family: "Grtsk Tera SemiBold";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/Grtsk-Tera-SemiBold.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-SemiBold.woff") format("woff"), url("../fonts/Grtsk-Tera-SemiBold.otf") format("otf");
}
@font-face {
    font-family: "Grtsk Tera SemiBold-Italic";
    font-style: italic;
    font-weight: 600;
    src: local(""), url("../fonts/Grtsk-Tera-SemiBold-Italic.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-SemiBold-Italic.woff") format("woff"),
        url("../fonts/Grtsk-Tera-SemiBold-Italic.otf") format("otf");
}
@font-face {
    font-family: "Grtsk Tera Bold";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/Grtsk-Tera-Bold.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-Bold.woff") format("woff"), url("../fonts/Grtsk-Tera-Bold.otf") format("otf");
}
@font-face {
    font-family: "Grtsk Tera Bold-Italic";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/Grtsk-Tera-Bold-Italic.woff2") format("woff2"),
        url("../fonts/Grtsk-Tera-Bold-Italic.woff") format("woff"),
        url("../fonts/Grtsk-Tera-Bold-Italic.otf") format("otf");
}

/* Animations */
@keyframes animRotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animLetter {
    to {
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
}
@keyframes x {
    to {
        left: 100%;
    }
    from {
        left: 0%;
    }
}
@keyframes y {
    to {
        top: 0%;
    }
    from {
        top: 100%;
    }
}
/* Styles */
html {
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
*,
::after,
::before {
    box-sizing: inherit;
}
*:last-child {
    margin-bottom: 0;
}
h1,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
body {
    padding: inherit;
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    height: 100%;
    margin: inherit;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page {
    overflow: hidden;
    flex: 1 0 auto;
    background-color: $bg-main-color;
    position: relative;
    header {
        flex: 0 0 auto;
    }
}
.header {
    position: relative;
    z-index: 3;
    &__inner {
        padding: calc(23px + (31 - 23) * ((100vw - 375px) / (1440 - 375)))
            calc(16px + (24 - 16) * ((100vw - 375px) / (1440 - 375))) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.lang-btn {
    width: 38px;
    height: 38px;
    border: 1px solid #ffffff1f;
    border-radius: 50%;
    cursor: pointer;
    &.active img {
        transform: rotate(-90deg);
        transition: transform 0.2s linear;
    }
}
.lang-list {
    display: flex;
    visibility: hidden;
    transform: translateX(-200%);
    position: absolute;
    left: 60px;
    z-index: 3;
    &.active {
        flex-direction: column;
        visibility: visible;
        transform: translateX(0%);
        transition: visibility 0.3s ease-in;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    &__item {
        font-size: 10px;
        letter-spacing: 0.15em;
        color: rgba($light-color, 0.5);
        &:not(:last-child) {
            margin-bottom: 10px;
            @media (min-width: 768px) {
                margin-bottom: 0;
                margin-left: 16px;
            }
        }
        &.current,
        &:hover,
        &:focus {
            color: $light-color;
        }
        @media (min-width: 500px) {
            margin-left: 15px;
        }
    }
}
.logo:hover,
.logo:focus {
    svg {
        .letter--1 {
            animation: animLetter 0s linear forwards 0.3s;
        }
        .letter--2 {
            animation: animLetter 0s linear forwards 0.2s;
        }
        .letter--3 {
            animation: animLetter 0s linear forwards 0.1s;
        }
        .letter--4 {
            animation: animLetter 0s linear forwards;
        }
    }
}
.letter {
    fill-opacity: 1;
    &--1 {
        stroke-dasharray: 64;
        stroke-dashoffset: 64;
    }
    &--2 {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    }
    &--3 {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
    }
    &--4 {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
    }
}
.mobile-btn {
    height: 10px;
    width: 22px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    @media (min-width: 768px) {
        visibility: hidden;
    }
    & span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: #000000;
        position: absolute;
        transition: all 0.3s ease-in;
        &:first-child {
            top: 0;
        }
        &:last-child {
            bottom: 0;
        }
    }
    &.active span {
        &:first-child {
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
            transition: all 0.3s ease-in;
        }
        &:last-child {
            bottom: 50%;
            transform: rotate(-45deg) translateY(50%);
            transition: all 0.3s ease-in;
        }
    }
}
.title {
    overflow: hidden;
    padding: 0 calc(21px + (150 - 21) * ((100vw - 375px) / (1024 - 375)));
    width: 100%;
    font-family: "Grtsk Tera Bold", sans-serif;
    font-weight: 700;
    font-size: calc(34px + (82 - 34) * ((100vw - 375px) / (1440 - 375)));
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    transition: transform 0.5s linear;
    @media (min-width: 1024px) {
        max-width: 1023px;
        padding: 0;
    }
}
.circle {
    width: calc(294px + (578 - 294) * ((100vw - 375px) / (1440 - 375)));
    height: calc(294px + (578 - 294) * ((100vw - 375px) / (1440 - 375)));
    position: relative;
    z-index: 2;
    @media (max-height: 420px) {
        width: calc(300px + (330 - 300) * ((100vh - 375px) / (414 - 375)));
        height: calc(300px + (330 - 300) * ((100vh - 375px) / (414 - 375)));
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $bg-circle-color;
        filter: blur(calc(46px + (76 - 46) * ((100vw - 375px) / (1440 - 375))));
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    & img {
        position: absolute;
        bottom: calc(-22px + (22 + 22) * ((100vw - 375px) / (1440 - 375)));
        right: calc(22px + (31 - 22) * ((100vw - 375px) / (1440 - 375)));
        z-index: 2;
        width: calc(90px + (116 - 90) * ((100vw - 375px) / (1440 - 375)));
        height: calc(90px + (114 - 90) * ((100vw - 375px) / (1440 - 375)));
        border-radius: 50%;
        animation: animRotate 15s linear infinite;
    }
    &-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}
.link {
    display: none;
    font-family: "Grtsk Tera SemiBold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $text-color;
    text-align: center;
    position: absolute;
    z-index: 4;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        transition: all 0.3s linear;
    }
    &:hover::after {
        background-color: $light-color;
        width: 100%;
        transition: all 0.3s linear;
    }
    &:hover,
    &:focus {
        color: $light-color;
        transition: all 0.3s linear;
    }
    @media (min-width: 768px) {
        display: inline-block;
    }
    @media (min-width: 1024px) {
        font-size: 16px;
    }
    &--right {
        right: calc(10px + (19 - 10) * ((100vw - 768px) / (1440 - 768)));
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
    }
    &--bottom {
        left: 50%;
        bottom: calc(12px + (19 - 12) * ((100vw - 768px) / (1440 - 768)));
        transform: translateX(-50%);
    }
    &--left {
        left: calc(10px + (19 - 10) * ((100vw - 768px) / (1440 - 768)));
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
    }
}
.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    & span {
        display: inline-block;
        font-family: "Grtsk Tera Bold-Italic", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: calc(28px + (52 + 28) * ((100vw - 375px) / (1440 - 375)));
        line-height: 110%;
        -webkit-text-stroke: 1px rgba($text-color, 1);
        -webkit-text-fill-color: rgba($text-color, 0);
        // -webkit-text-stroke: 1px $text-color;
        // -webkit-text-fill-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        animation: x 10s linear infinite, y 10s linear infinite both;
        transform-origin: 25px -25px;
        animation-timing-function: linear;
    }
    &--top {
        transform: rotate(180deg);
    }
}
